code {
  display: block;
  background-color: #f0f2f5; /* Ant Design 的背景色 */
  color: #314659; /* Ant Design 的文字颜色 */
  border-radius: 4px; /* Ant Design 的圆角大小 */
  font-family: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: auto; /* 如果代码过长，允许水平滚动 */
  overflow-y: auto; /* 如果代码过长，允许vertical滚动 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Ant Design 的阴影效果 */
  height: 10rem;
}


.card-title{
}

.x-scorlleable{
  overflow-x: auto; /* 如果代码过长，允许水平滚动 */
}
@media (max-width: 60rem) {
  .hide-on-a-little-smaller-screens {
    display: none;
  }
}
@media (max-width: 45rem) {
  .hide-on-smaller-screens {
    display: none;
  }
}
@media (min-width: 45rem) {
  .hide-on-larger-screens {
    display: none;
  }
}


/* 设置单元格间距 */
th, td {
  padding: 10px; /* 设置单元格内边距 */
}
/* 如果需要，可以设置仅横线的样式 */
tr {
  border-bottom: 2px solid black; /* 增加横线粗细 */
}
/* 去除表格最后一行的横线 */
tr:last-child {
  border-bottom: none;
}

.githublink{
  font-size: 1rem;
  font-weight: bold;
  transition-duration: 100ms;
}

.githublink:hover{
  color: #fff;
  transition-duration: 100ms;
}

.secondTitle {
  position: absolute;
  right: 0rem;
  bottom: 1rem;
  padding: 0px 1rem 0px 0px;
  vertical-align: bottom;
  text-align: right;
}